/* Hide the search more link in the many2many_tags widget */
/* .o_field_many2manytags_more,
.o_field_many2manytags_search_more {
   
} */
.o_field_widget.o_field_many2many_tags .o_field_many2many_selection .o_input{
    display: none !important;
}


/* <div style="max-width: 1100px; margin: 0 auto; background: #ffffff; padding: 12px; border-radius: 30px; border: 1px solid #e2e8f0; box-shadow: 0 60px 120px -20px rgba(124, 58, 237, 0.25);">
            <div style="background: #f8fafc; border-radius: 20px; overflow: hidden; border: 1px solid #f1f5f9;">
                <div style="background: #ffffff; padding: 15px 25px; border-bottom: 1px solid #e2e8f0; text-align: left; display: flex; align-items: center; gap: 8px;">
                    <span style="color: #ff5f57;">&#9679;</span> <span style="color: #febc2e;">&#9679;</span> <span style="color: #28c840;">&#9679;</span>
                </div>
                <img src="./hero_dashboard.png" alt="Niyu Planning Dashboard" style="width: 100%; display: block;">
            </div>
        </div> */


